/*csslint empty-rules: false, ids: false*/

html, body, #container { height: 100%; }

body {
  background-color: #fff;
  text-align: center;
  margin:0;
  padding:0;
  height:100%;
}
p {
  font-size: 16px;
  line-height: 1.5;
}
p.intro {
  font-size: 22px;
}
h1 {
  color: #000;
  font-weight: 700;
  margin-bottom : 0.2em;
  font-size : 2em; /* 96 / 16 */
  line-height : 1.4;
}
p, h1, a {
  color: #fff;
  font-family: 'Lato', verdana, arial, helvetica, sans-serif;
}
#container {
  background: #4D9BAB;
  margin: 0 auto;
  text-align: center;
  width: 400px;
  position: relative;
  display: block;
  height: auto;
  top: 25%;
  padding: 24px 40px 37px;
}