/*csslint empty-rules: false, ids: false*/

html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }


/* Generic selectors */


body {
  background-color: #FAFAFA;
  text-align: center;
  margin:0;
  padding:0;
  height:100%;
}

h1 {
  font-family: 'Lato', verdana, arial, helvetica, sans-serif;
  color: #000;
  font-weight: 700;
  margin-bottom : 0.2em;
  font-size : 2em; /* 96 / 16 */
  line-height : 1.4;
}

h3 {
  font-family: 'Lato', verdana, arial, helvetica, sans-serif;
  color: #000;
  font-weight: 400;
  margin-bottom : 0.2em;
  font-size : 1.2em; /* 96 / 16 */
  line-height : 1.4;
}

ul, li {
    list-style-type: none;
    padding: 0;
}

.lato {
  font-family: 'Lato', verdana, arial, helvetica, sans-serif;
  color: #000;
  font-weight: 400;
  margin-bottom : 0.2em;
  font-size : 1em; /* 96 / 16 */
  line-height : 1.4;
}

.latoLight {
  font-family: 'Lato', verdana, arial, helvetica, sans-serif;
  color: #000;
  font-weight: 300;
  margin-bottom : 0.2em;
  font-size : 1em; /* 96 / 16 */
  line-height : 1.4;
}


/* containers */

#container {
  top: 50px;
  position: relative;
  width: 940px;
  text-align: center;
  margin: 0 auto;
  min-height:100%;
}

#content {
  padding-bottom: 50px;
}

#headerContainer {
  position: relative;
  top: 10px;
  width: 960px;
  height: 75px;
  margin: 0 auto;
}

#vSmallText {
  font-size: 10pt;
}

/* navigation */

#logo {
  position: absolute;
  top: 45px;
  left: 30px;
}


#projectsNav {
  top: 82px;
  height: 28px;
  width: 76px;
  position: absolute;
  right: 286px;
  color: 00000;
}

#aboutNav {
  top: 82px;
  height: 28px;
  width: 70px;
  position: absolute;
  right: 164px;
}

#contactNav {
  top: 82px;
  height: 28px;
  width: 78px;
  position: absolute;
  right: 46px;
}

#blogNav {
  top: 82px;
  height: 28px;
  width: 44px;
  position: absolute;
  right: 410px;
}

/* index mouseovers */

a.cssmouseover {
  display:block;
  width:200px;
  height:150px;
  background-position:0 -150px;
  }

a.cssmouseover:hover {
  background-position:0 -300px;
  }


.right-align li {
  padding: 10px;
}


.headerfont {
  font-family: 'Lato', verdana, arial, helvetica, sans-serif;
  color: #104E8B;
  font-weight: 400;
  font-size: 14pt;
}

.left-align {
  position: absolute;
  left: 11px
}

.right-align {
  float: right;
  padding-top: 9px;
  padding-right: 30px;
}

.description {
  text-align: left;
  float: left;
  position: relative;
  width: 900px;
  margin: 0;
  top: 20px;
}

.projectInfo {
  text-align: left;
  position: relative;
  margin: 0;
  top: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 25px;
}


#abouttext {
  top: 20px;
}


.projectPage {
  position: absolute;
  width: 100%;
  top: 140px;
}


#contactleft {
  position: absolute;
  top: 30px;
  left: 15px;
}

#contactright {
  position: absolute;
  right: -145px;
  top: 45px;
}

.top {
  position: absolute;
  top: 170px;
}

.left {
  position: absolute;
  left:252px;
}

.right {
  position: absolute;
  right: 252px;
}

.farLeft {
  position: absolute;
  left: 18px;
}

.farRight {
  position: absolute;
  right: 18px;
}

.bottom {
  position: absolute;
  top: 350px;
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 250px;

}

.thumbCaption {
  position: absolute;
  top: 200px;
}

#footer {
  position: relative;
  height: 50px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 10pt;
  top: 50px;
}

.projectTitle {
  position: absolute;
  left: 30px;
}

.leftDescription{
  position: absolute;
  top: 50px;
  width: 420px;
  margin: 0;
  left: 6px;
  float: left;
}

.rightDescription {
  position: absolute;
  width: 420px;
  top: 5px;
  right: 10px;
  height: 100px;
  margin: 0;
}

.nextProject {
  position: relative;
  right: 31px;
  float: right;
  top: 300px;
  padding-bottom: 30px;
}

.previousProject {
  position: relative;
  float: left;
  left: 30px;
  top: 300px;
  padding-bottom: 30px;
}

.nextProject3 {
  position: relative;
  right: 31px;
  float: right;
  top: 240px;
  padding-bottom: 30px;
}

.previousProject3 {
  position: relative;
  float: left;
  left: 30px;
  top: 240px;
  padding-bottom: 30px;
}

.nextProject4 {
  position: relative;
  right: 31px;
  float: right;
  top: 240px;
  padding-bottom: 30px;
}

.previousProject4 {
  position: relative;
  float: left;
  left: 30px;
  top: 240px;
  padding-bottom: 30px;
}

.nextProject5 {
  position: relative;
  right: 31px;
  float: right;
  top: 40px;
  padding-bottom: 30px;
}

.previousProject5 {
  position: relative;
  float: left;
  left: 30px;
  top: 40px;
  padding-bottom: 30px;
}

.nextProject6 {
  position: relative;
  right: 31px;
  float: right;
  top: 40px;
  padding-bottom: 30px;
}

.previousProject6 {
  position: relative;
  float: left;
  left: 30px;
  top: 40px;
  padding-bottom: 30px;
}

.nextProject7 {
  position: relative;
  right: 31px;
  float: right;
  top: 240px;
  padding-bottom: 30px;
}

.previousProject7 {
  position: relative;
  float: left;
  left: 30px;
  top: 240px;
  padding-bottom: 30px;
}

.previousProject8 {
  position: relative;
  float: left;
  left: 30px;
  top: 200px;
  padding-bottom: 30px;
}

.nextProject8 {
  position: relative;
  right: 31px;
  float: right;
  top: 200px;
  padding-bottom: 30px;
}

.previousProject9 {
  position: relative;
  float: left;
  left: 30px;
  top: 270px;
  padding-bottom: 30px;
}

.nextProject9 {
  position: relative;
  right: 31px;
  float: right;
  top: 270px;
  padding-bottom: 30px;
}


#horrorVid {
  position: relative;
  top: 210px;
}

#weatherimage {
  position: relative;
  padding-left: 10px;
  top: 100px;
  width: 810px;
}

/* courier */

#courier1 {
  position: relative;
  top: 180px;
}

#courier2 {
  position: relative;
  top: 200px;
}

#courier3 {
  position: relative;
  top: 220px;
}

#courier4 {
  position: relative;
  top: 240px;
}

#courier5 {
  position: relative;
  top: 260px;
}

/* bacardi */

#bacardi1 {
  position: relative;
  top: 200px;
}

#bacardi2 {
  position: relative;
  top: 240px;
}

#bacardi3 {
  position: relative;
  top: 180px;
}

#bacardi4 {
  position: relative;
  top: 40px;
}

#bacardi5 {
  position: relative;
  top: 20px;
}

/* bridge */

#bridge1 {
  position: relative;
  top: 80px;
}

#bridge2 {
  position: relative;
}

#bridge3 {
  position: relative;
  top: 20px;
}

#bridge4 {
  position: relative;
  top: 20px;
}

/* visual narrative */

#visualNarrative {
  position: relative;
  top: 170px;
  padding-bottom: 20px;
}

#visualNarrative2 {
  position: relative;
  top: 170px;
}

#visualNarrative3 {
  position: relative;
  top: 20px;
}

#visualNarrative4 {
  position: relative;
  top: 20px;
}

#visualNarrative5 {
  position: relative;
  top: 20px;
}

#visualNarrative6 {
  position: relative;
  top: 20px;
}

/* digifilm */

#digifilm1 {
  position: relative;
  top: 210px;
}

#digifilm2 {
  position: relative;
  top: 240px;
}

/* sip */

#sip1 {
  position: relative;
  top: 190px;
}

#sip2 {
  position: relative;
  top: 230px;
}

#leftcontact {
  position: absolute;
  top: 20px;
  left: 35px;
  width: 400px
}

#rightcontact {
  position: absolute;
  top: 20px;
  right: 21px;
  width: 200px;
}

a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }


a img { border:none; }