html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }


/* Generic selectors */


body {background: url(../images/grain.png);
	text-align: center;
	margin:0;
   	padding:0;
   	height:100%;
}

h1 {position: absolute;
	left: 30px;
}

ul, li {
    list-style-type: none;
    padding: 0;
}

li {
  	display: inline;
	float: center;
	width: 900px;
  	height: 600px;
}

/* containers */

#container {
	top: 50px;
	left: -21px;
	position: relative;
	width: 920px;
	height: 280px;
	text-align: center;
	margin: 0 auto;
	min-height:100%;
}

#content { 
	padding-bottom: 50px;
}

#headercontainer {
	position: relative;
	top: 10px;
	width: 960px;
	height: 75px;
	margin: 0 auto;
}


/* navigation */


#projects-nav {
	height: 28px;
	width: 76px;
	position: absolute;
	right: 273px;
	border-bottom: 3px solid #aaa;
	color: 000000;
}

#about-nav {
	height: 28px;
	width: 70px;
	position: absolute;
	right: 168px;
	border-bottom: 3px solid #aaa;
}

#contact-nav {
	height: 28px;
	width: 78px;
	position: absolute;
	right: 46px;
	border-bottom: 3px solid #aaa;
}

#blog-nav {
	height: 28px;
	width: 44px;
	position: absolute;
	right: 386px;
	border-bottom: 3px solid #aaa;
}

/* index mouseovers */

a.cssmouseover {
	display:block;
	width:200px;
	height:150px;
	background-position:0px -150px;
	}

a.cssmouseover:hover {
	background-position:0px 0px;
	}

/* Classes */

.right-align li {
	padding: 10px;
}


.headerfont {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-color: black;
	font-size: 13pt;
	text-shadow: 0.5px 1px 0.5px black;
}

.left-align {
	position: absolute;
	left: 11px
}

.right-align {
	float: right;
	padding-top: 9px;
	padding-right: 30px;
}

.description {
	text-align: left;
	float: left;
	position: relative;
	width: 900px;
	margin: 0;
	top: 20px;
}

.description-about {
	text-align: left;
	position: relative;
	margin: 0;
	top: 10px;
	padding-top: 5px;
	padding-bottom: 20px;
	padding-left: 25px;
}

.spaceimages img {
	padding-left: 8px;
	padding-right: 8px;
}



/* IDs */

#abouttext {
	top: 20px;
}

#amnestyvideo {
	top: 90px;
	position: relative;
}

#bodyfont {
	position: relative;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-color: black
	font-size: 11pt;
	width: 905px;
	height: 100px;
}


#contactleft {
	position: absolute;
	top: 30px;
	left: 15px;
}

#contactright {
	position: absolute;
	right: -145px;
	top: 45px;
}



#projects {
	position: relative;
	top: 60px;
	left: 20px;
	height: 330px;
	width: 880px;
	margin: 0 auto;
}


#farlefttop {
	position: absolute;
	top: 0;
	left: 0;
}

#lefttop {
	position: absolute;
	top: 0;
	left: 226px;

}

#righttop {
	position: absolute;
	top: 0;
	right: 226px;
}

#farrighttop {
	position: absolute;
	top: 0;
	right: 0;
}


#farleftbottom {
	position: absolute;
	bottom: 0;
	left: 226px;
}

#leftbottom {
	position: absolute;
	bottom: 0;
	left: 0;
}

#rightbottom {
	position: absolute;
	bottom: 0;
	right: 226px;


}

#farrightbottom {
	position: absolute;
	right: 0;
	bottom: 0;

}








#footer {
	position: relative;
	height: 50px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 10pt
	top: 50px;
}



#leftdescription{
	position: absolute;
	top: 5px;
	width: 400px;
	height: 100px;
	margin: 0;
	left: 11px;
	float: left;
}

#rightdescription {
	position: absolute;
	width: 400px;
	top: 5px;
	right: 0px;
	height: 100px;
	margin: 0;
}





#weatherimage {
	position: relative;
	padding-left: 10px;
	top: 100px;
	width: 810px;
}

#spacecontainer {
	position: relative;
	top: 110px;
}

#foodimage {
	position: relative;
	top: 100px;
}

#eclipsetopimage {
	position: relative;
	top: 90px;

}

#eclipseleftzoom {
	position: relative;
	top: 140px;
	left: 10px;
	float: left;
	padding-bottom: 50px;

}

#eclipserightzoom {
	position: relative;
	top: 140px;
	float: right;
	right: 10px;
	padding-bottom: 50px;
}


#printtopimage {
	position: relative;
	top: 110px;

}

#printleftimage {
	position: relative;
	top: 150px;
	float: left;
	padding-left: 28px;
	padding-bottom: 50px;

}

#printrightimage {
	position: relative;
	top: 150px;
	float: right;
	padding-right: 27px;
	padding-bottom: 50px;
}

	
#statisticsimage {
	position: relative;
	top: 80px;
	padding-bottom: 30px;
}

#statisticsimage img {
	padding-bottom: 30px;
}

#narrativeimages {
	position: relative;
	top: 100px;
	left: 20px;
	padding-bottom: 40px;
}

#narrativeimages img {
	position: relative;
	padding-bottom: 10px;
	margin: 0 auto;
}

#leftdescriptionvn {
	position: absolute;
	top: 0px;
	width: 400px;
	height: 100px;
	margin: 0;
	left: 32px;
}

#rightdescriptionvn {
	position: absolute;
	width: 400px;
	top: 4px;
	right: -15px;
	height: 100px;
	margin: 0;
}



#leftcontact {
	position: absolute;
	top: 20px;
	left: 35px;
	width: 400px
}

#rightcontact {
	position: absolute;
	top: 20px;
	right: 21px;
	width: 200px;
}

a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }


a img { border:none; }

/* index hover text */

#projects .project-row {
	float: left;
	margin: 0 16px;
}

#projects .image {
	width: 200px;
	height: 150px;
	float: left;
	overflow: hidden;
}

#projects .image a {
	position: relative;
	overflow: hidden;
	float: left;
	height: 150px;
}

#projects .image span {
	position: absolute;
	left: 0;
	bottom: -120px;
	background-color: #000;
	margin: 0 10px 0 0;
	color: #fff;
	padding: 4px 6px;
	font-size: 17px;
	line-height: 21px;
	-webkit-transition: bottom 0.6s cubic-bezier(.17,.67,1,1);
	-webkit-transition: bottom 0.6s cubic-bezier(.65,.49,.72,1.28);
	   -moz-transition: bottom 0.6s cubic-bezier(.65,.49,.72,1.28);
	    -ms-transition: bottom 0.6s cubic-bezier(.65,.49,.72,1.28);
	     -o-transition: bottom 0.6s cubic-bezier(.65,.49,.72,1.28);
	        transition: bottom 0.6s cubic-bezier(.65,.49,.72,1.28);
}

#projects .image:hover span {
	bottom: 20px;
	-webkit-transition: bottom 0.3s cubic-bezier(.17,.67,1,1);
	-webkit-transition: bottom 0.3s cubic-bezier(.65,.49,.72,1.28);
	   -moz-transition: bottom 0.3s cubic-bezier(.65,.49,.72,1.28);
	    -ms-transition: bottom 0.3s cubic-bezier(.65,.49,.72,1.28);
	     -o-transition: bottom 0.3s cubic-bezier(.65,.49,.72,1.28);
	        transition: bottom 0.3s cubic-bezier(.65,.49,.72,1.28);
}