---
layout: default
title: Blog Posts
bodyClass: index
---


<div class="container main container-pad">
    <div class="col-8-12">
      <h1>{{ page.title }}</h1>
      <ol class="posts">
      {% for post in site.posts %}

        <li>
          <a href="{{ post.url }}">
            <h2>{{ post.title }}</h2>
          </a>
          <time datetime="{{ post.date | date: "%d-%m-%Y" }}">{{ post.date | date: "%d %b, %Y" }}</time>
          <span>/</span>
          <a href="{{ post.url }}">Read</a>
        </li>

      {% endfor %}
      </ol>
    </div>

    {% include sidebar.html %}

</div>