<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="Jack Underhill - Design and front-end development.">
  <meta name="author" content="Jack Underhill - http://jackunderhill.co.uk">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Jack Underhill | Designer and Front-End Developer</title>
<!--   <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,400,300italic' rel='stylesheet' type='text/css'> -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="stylesheet" href="/css/simplegrid.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- analytics-->
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37739346-1']);
  _gaq.push(['_setDomainName', 'jackunderhill.co.uk']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>
{% capture bodyClass %}{% if page.bodyClass %}{{ page.bodyClass }}{% endif %}{% endcapture %}
<body class="{{ bodyClass }}">

<div class="container nav">
    <nav>
      <ul>
        <li id="logo">JU</li><li>
        <a href="/about.html">About</a></li><li>
        <a href="/">Posts</a></li><li>
        <a href="/work.html">Work</a></li>
        <a href="/contact.html">Contact</a></li>
      </ul>
    </nav>
</div>


    {{ content }}


<div class="container container-pad footer">
    <div class="col-1-1">
      <p class="text-center">&#169; Jack Underhill <span id="footerDate"><span></p>
    </div>
</div>

</body>
<script type="text/javascript">
window.onload = footerDate;
function footerDate() {
  var d = new Date;
  document.getElementById('footerDate').innerHTML = d.getFullYear();
}
</script>
</html>
